ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #12e057;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(15, 5, 2);
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table{
    width: 50%;
}
img{
    width: 1500px;
}

body{
    background-color: #FFFFFF
White;
}

.responsive {
  width: 100%;
  height: auto;
}

input{
    font-size: 15px;
    background-color: aqua;
    border-radius: 20px;
}

input :invalid {
    border-radius: 20px dashed red;
}

table{
    background-color: aquamarine;
}